body{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: arial;
    height: 97vh;
    background: linear-gradient(45deg,rgb(255, 100, 100), rgb(255, 147, 255));
}
h4,h3{
    margin:0px;
    letter-spacing: 3px;
}
h4{
    text-align: right;
    transition: color ease-in 1s;
    overflow-x: hidden;
}
.calculatrice{
    width:300px;
    padding:20px;
}
.ecran{
    border:1px solid rgba(0, 0, 0, 0.384);
    border-radius: 15px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    background-color: rgba(255, 255, 255, 0.5);
    padding:10px;
    margin-bottom: 20px;
    backdrop-filter: blur(5px);
    box-shadow: inset -5px 0px 5px rgba(7, 7, 7, 0.712), 10px 10px 15px rgba(0, 0, 0, 0.568);
    transition: box-shadow ease-in 2s;
}
.touch_zone{
    transition: box-shadow ease-in 2s;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border:1px solid rgba(0, 0, 0, 0.384);
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    box-shadow: inset -5px -5px 5px rgba(7, 7, 7, 0.712), 10px 10px 15px rgba(0, 0, 0, 0.568);
}
span{
    text-align: center;
    min-width:20.1%;
    background-color: white;
    margin-top:20px;
    padding:15px 0;
    font-weight: bold;
    user-select: none;
    box-shadow: inset -3px -3px 5px rgba(7, 7, 7, 0.712), 3px 3px 9px rgba(0, 0, 0, 0.555);
    border-radius: 10px;
    /* transition: box-shadow 3s ease-in 2s; */
}

span:hover{
    cursor: pointer;
}
span:nth-child(2):hover,span:nth-child(1):hover{
    animation: anim2 0.1s infinite;
}
.zero{
    min-width:calc(40.2% + 15px);
}
.carree{
    width:150px;
    height:150px;
    background: linear-gradient(45deg, yellow, orange);
    position: fixed;
    z-index: -1;
    border-radius: 30px;
    box-shadow: inset -3px -3px 5px rgba(7, 7, 7, 0.712);
    animation: anim1 10s infinite;
}
.tgl_btn{
    box-shadow: 3px 3px 5px rgba(7, 7, 7, 0.712);
    width:32px;
    height:62px;
    background-color: rgba(255, 255, 255, 0.726);
    margin-top:26px;
    border-radius: 16px;
    transition: background ease-in 1.5s, box-shadow ease-in 2s;;
}
.boule{
    width:30px;
    height:30px;
    background-color: rgb(0, 26, 255);
    margin:1px;
    border-radius: 50%;
    box-shadow: inset -2px -2px 5px rgba(0, 0, 0, 0.712);
    transition: margin-top ease-in 1s, background ease-in 1s;
}
@keyframes anim1 {
    50%{
        margin-top:calc(96vh - 150px);
        transform: rotate(360deg);
    }
    100%{
        margin-top:initial;
    }
    
}
@keyframes anim2 {
    0%{
        transform: rotate(5deg);
    }
    50%{
        transform: rotate(-5deg);
    }
    100%{
        transform: rotate(5deg);
    }
}
.form{
    position:fixed;
    bottom:30px;
}
.form>input{
    height:20px;
    font-size: 18px;
    border:none;
    border-bottom:1px dashed grey;
    background-color: rgba(255, 255, 255, 0.212);
    backdrop-filter: blur(3px);
    padding:5px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.466);
    border-radius:10px;
    margin-left:10px;
    margin-right:10px;
}
marquee{
    position:fixed;
    bottom:0;
    background-color: rgba(255, 255, 255, 0.397);
}